.container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
}

.row {
  flex: 1 1 0;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0.5rem;
}

table {
  width: 100%;
}

.item-wrapper .image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: relative;
  padding-top: 0.1rem;
}

.item-wrapper {
  margin: 0.5rem;
  display: inline-block;
}

.item-wrapper .image .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #561b1b;
  border-radius: 5px;
  opacity: 0.4;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.content p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 0.2rem;
}

.content p {
  margin-top: 0.2rem;
  font-size: 0.65rem;
}

.category-name {
  font-size: 0.85rem !important;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  display: block !important;
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
}

.content .price, .content .description {
  display: none;
}

.content .price:hover, .content .description:hover {
  display: block;
}

.table-wrapper {
  padding: 0.5rem;
  position: relative;
  height: 30rem;
}

.button-wrapper {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
}

.button-wrapper .cancel-btn, .button-wrapper .process-btn {
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.cancel-btn {
  background-color: #ed0c0cde;
}

.process-btn {
  background-color: forestgreen;
}

.item-details-table {
  height: 15rem;
  overflow: auto;
}

#calculation-table {
  margin-top: 0.5rem;
  background-color: #ffffff;
}

#calculation-table, td {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
}

#calculation-table tbody tr td {
  width: 10rem;
  font-size: 0.85rem;
  padding: 0.3rem;
}

#calculation-table tbody tr td:first-child {
  background-color: rgba(0, 0, 0, 0.15);
}

#calculation-table tbody tr td:not(:first-child) {
  text-align: right;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container .modal {
  background-color: #ffffff;
  position: relative;
}

@media only screen and (min-width: 786px) {
  .modal-container .modal {
    min-width: 50%;
    min-height: 50vh;
  }
}

@media only screen and (max-width: 786px) {
  .modal-container .modal {
    min-width: 80%;
    min-height: 50vh;
  }
}

.closeCaret {
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.closeCaret i {
  color: red;
  cursor: pointer;
}

.modal-container .modal h2 {
  text-align: center;
  background: #2d43da;
  margin: 0;
  padding: 0.8rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
}

.modal-content {
  padding: 0.5rem;
}

.modal-content .saleNumber {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-content .date {
  font-size: 0.9rem;
  margin-top: 0;
}

.modal-footer {
  text-align: center;
}

.close-modal-btn {
  margin: 0.5rem;
  width: 90%;
  padding: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}

.receiptTable, .last-table {
  border-collapse: collapse;
}

.last-table {
  margin-top: 1rem;
}

.receiptTable tbody tr td, .last-table tbody tr td {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.3rem;
  border-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#item-details-table thead th:nth-child(3),
#item-details-table thead th:nth-child(4),
#item-details-table thead th:nth-child(5) {
  text-align: right;
}
